body{
    font-family: 'Roboto', sans-serif;
}
header, main, footer
{
    max-width:640px;
    margin: 1 rem auto;
    border: 1px solid black;
    padding: 1rem;
    background-color: aqua;

}

main
{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section
{
padding: 1rem;
background-color: aliceblue;
}

@media screen and (min-width: 500px) {
  header {
    background-color: black;
    color: white;
  }
  
  main {
    grid-template-columns: 1fr 1fr;
  }
}
