:root{
    --red:#d7193f;
    --green:#007f4f;
    --white:rgba(255,255,255,.90);
    --shadow:rgba(0,0,0,.35);
    --font:Arial, Helvetica, sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:var(--font);
}

header{
    background:var(--red);
    color:white;
    text-align:center;
    padding:20px;
    border-bottom:12px solid var(--green);
}

header h1{
    font-size:3rem;
}

main{
    position:relative;
}

picture img{
    width:100%;
    display:block;
}

.data,
.weather{
    position: absolute;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 0 15px var(--shadow);
    overflow: visible;   /* add this */
}

.data{
    top: 50px;
    left: 30px;
    width: 320px;
    height: 400px;
}

.weather{
    bottom: 40px;
    right: 30px;
    width: 200px;
    height: 250px;
}

.data h2,
.weather h2{
    position: absolute;
    top: 10px;
    left: -10px;

    background: var(--green);
    color: white;

    padding: 15px 20px;
    margin: 0;

}
.data h2{
    width: 280px;
}

.weather h2{
    width: 180px;   /* Adjust until you like it */
}

.data p:first-of-type,
.weather img,
.weather p:first-of-type{
    margin-top: 90px;
}

.data p,
.weather p{

    margin:18px 0;
    text-align: right;
    width: 100%;

}

.weather h2::after{
    content:" ⛅";
}

.mobile-icon{
    display: none;
    width: 70px;
    margin: 20px auto;
}

footer{

    background:var(--red);

    color:white;

    text-align:center;

    padding:20px;

}

@media (max-width:800px){
    main{
        display:flex;
        flex-direction:column;
    }

    .data,
    .weather{
        position:static;
        margin:20px;
    }

    .weather h2::after{
        content:"";
    }

    .mobile-icon{
        display:block;
    }

}